.eAlert-container {
  background: rgba(36, 36, 36, .9);
  padding: .7rem 1rem;
  border-radius: 3px;
  width: 350px;
  margin-top: 1rem;
  margin-right: 1rem;
  box-sizing: border-box;
  position: absolute;
  float: right;
  opacity: 0;
  visibility: hidden;
  right: 0;
  transition: all linear .6s;
}
@media (max-width: 600px) {
  .eAlert-container {
    position: absolute;
    bottom: 7rem;
    transform: translateX(50%);
    right: 50%;
    margin-right: 0;
    width: 300px;
  }
}

.danger::before{
  content: '';
  width: 350px;
  height: 3px;
  position: absolute;
  top: 0;
  background: #ff6a6a;
  left: 0;
  border-radius: 3px 3px 0 0;
}
@media (max-width: 600px) {
  .danger::before{
    width: 300px;
  }
}


.show {
  opacity: 1;
  visibility: visible;
}

.eAlert-container p {
  color: rgb(170, 170, 170);
  margin: 0;
  font-size: 14px;
  margin-top: 0.25rem;
  margin-bottom: .5rem;
  line-height: 140%;
}

.eAlert-container button {
  color: rgb(170, 170, 170);
  background: #2b2b2b;
  border: none;
  font-size: 10px;
  padding: .3rem .6rem;
  margin-bottom: .25rem;
}

.eAlert-container button:focus {
  outline-color: white;
}